[submodule "libs/qunit"]
	path = libs/qunit
	url = git://github.com/jquery/qunit.git
[submodule "libs/CLDRPluralRuleParser"]
	path = libs/CLDRPluralRuleParser
	url = git://github.com/santhoshtr/CLDRPluralRuleParser.git
